@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPSMT.eot');
    src: url('TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPSMT.woff2') format('woff2'),
        url('TimesNewRomanPSMT.woff') format('woff'),
        url('TimesNewRomanPSMT.ttf') format('truetype'),
        url('TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPS-ItalicMT.eot');
    src: url('TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('TimesNewRomanPS-ItalicMT.woff') format('woff'),
        url('TimesNewRomanPS-ItalicMT.ttf') format('truetype'),
        url('TimesNewRomanPS-ItalicMT.svg#TimesNewRomanPS-ItalicMT') format('svg');
    font-weight: normal;
    font-style: italic;
}

