/* ------ Fonts ------ */

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('../TimesNewRomanPSMT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TimesNewRomanPSMT.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNewRomanPSMT.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/TimesNewRomanPSMT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TimesNewRomanPSMT.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'StreetbrushW01-Regular';
  src: url('../StreetbrushW01-Regular'); /* IE9 Compat Modes */
  src: url('../fonts/StreetbrushW01-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/StreetbrushW01-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/StreetbrushW01-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/StreetbrushW01-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/StreetbrushW01-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'TimesNewRomanPS-ItalicMT';
  src: url('../TimesNewRomanPS-ItalicMT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNewRomanPS-ItalicMT.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/TimesNewRomanPS-ItalicMT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TimesNewRomanPS-ItalicMT.svg#svgFontName') format('svg'); /* Legacy iOS */
}


